.scroll-easy {
	-webkit-transition-propert: -webkit-transform;
	-moz-transition-propert: -moz-transform;
	-ms-transition-propert: -ms-transform;
	transition: transform;
}
.scroll-delay {
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-ms-transition-duration: .5s;
	transition-duration: .5s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-delay: 0s;
	-moz-transition-delay: 0s;
	-ms-transition-delay: 0s;
	transition-delay: 0s;
}
.scroll-table {
	font-size: 12px;
	.scroll-panel {
		width: 100%;
		overflow: hidden;
	}
	.head {
		position: relative;
		.fixed-name {
			.txt-c;
			background: #fff;
			line-height: 40px;
			position: absolute; left: 0; top: 0;
			width: 100px;
			z-index: 2;
		}
		.columns {
			.scroll-easy;
			.column {
				.txt-c;
				line-height: 20px;
				width: 100px;
				padding: 10px 3px;
			}
		}
	}
	.content {
		overflow: hidden;
		position: relative;
		.fixed-title {
			background: #fff;
			position: absolute; left: 0; top: 0;
			width: 100px;
			z-index: 2;
			td {
				.txt-c;
				background: #fff;
				line-height: 20px;
				padding: 10px 0;
			}
		}
		.con {
			.scroll-easy;
			td {
				.txt-c;
				line-height: 20px;
				width: 100px;
				padding: 10px 3px;
			}
		}
	}
}