extends ./layout.jade

block content
	#allmap 正在加载百度地图
	.control-panel
		#control
			span.item(data-key="maptype") 类型控件
			span.item(data-key="overviewmap") 缩略控件
			span.item(data-key="navigation") 平移缩放控件
			span.item.active(data-key="copyright") 版权控件
			span.item(data-key="scale") 比例尺控件
			span.item(data-key="geolocation") 定位控件
			span.item(data-key="panorama") 全景地图控件

block js
	script(type="text/javascript" src="/js/bmap/control.js")